In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
print("OK")

OK

In [5]:
import pandas as pd
df = pd.read_csv("../data/sales.csv")  # note: path is from notebooks/ to data/
print("Rows x Cols:", df.shape)
df.head()

Rows x Cols: (5, 6)

   order_id        date customer     category  qty  price
0         1  2024-01-02        A  Accessories    2   19.9
1         2  2024-01-03        B  Electronics    1  199.0
2         3  2024-01-03        B  Accessories    3   12.5
3         4  2024-01-05        C         Home    1   35.0
4         5  2024-01-06        A         Home    2   29.9

In [ ]:
print(df["price"].head())
print("Mean price:", df["price"].mean())
print("Min/Max:", df["price"].min(), df["price"].max())

min/mas price: 12.5 199.0

In [ ]:
print("the mean is :",df["price"].mean())

the mean is : 59.25999999999999

In [ ]:
print("Min/Max:", df["price"].min(), df["price"].max())

Min/Max: 12.5 199.0

In [ ]:
print("the max price is :",df["price"].max(),"the min price is :",df["price"].min())

the max price is : 199.0 the min price is : 12.5

In [ ]:
df["revenue"]=df["price"]*df["qty"]

In [ ]:
total_revenue=df["price"].sum()
print("total_revenue",round(total_revenue,3))

total_revenue 296.3

In [ ]:
rev_by_cat = (
    df.groupby("category", as_index=False)["revenue"].sum()
      .sort_values("revenue", ascending=False)
)
rev_by_cat

      category  revenue
1  Electronics    199.0
2         Home     94.8
0  Accessories     77.3

In [ ]:
top_cust = (df.groupby("customer", as_index=False)["revenue"].sum().sort_values("revenue", ascending=False))
top_cust

  customer  revenue
1        B    236.5
0        A     99.6
2        C     35.0